<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
  </head>
  <body>
    <h1>home</h1>
    <div><%- include("./partials/welcome") %></div>
    <div><%- include("./partials/navbar") %></div>
    <ul>
      <% locals.messages.forEach(message => { %>
      <li>
        date: <%= message.date %> title: <%= message.title %> user: <%=
        message.user %>
        <div><%= message.text %></div>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
